$gray-extra-light: #f0f0f0;
$gray-light: #c4c4c4;
$gray-dark: #70908b1a;
$gray-extra-dark: #6e757e;

$green-dark: #07484a;
$green-light: #70908b;

$pink-light: #f9d9da;
$blue-light: #e0eff6;
$white-dark: #fdfbf8;

$card-primary-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);

$container-width: 1680px;
