body {
  background-color: gray;
  padding: 100px;
}

.item-1 {
  left: 20px;
}

.item-2 {
  left: 40px;
}

.item-3 {
  left: 60px;
}

.item-4 {
  left: 80px;
}

.item-5 {
  left: 100px;
}

.item-6 {
  left: 120px;
}

.item-7 {
  left: 140px;
}

.item-8 {
  left: 160px;
}

.item-9 {
  left: 180px;
}

.item-10 {
  left: 200px;
}

.item-11 {
  left: 220px;
}

.item-12 {
  left: 240px;
}

.item-13 {
  left: 260px;
}

.item-14 {
  left: 280px;
}

.item-15 {
  left: 300px;
}

.item-16 {
  left: 320px;
}

.item-17 {
  left: 340px;
}

.item-18 {
  left: 360px;
}

.item-19 {
  left: 380px;
}

.item-20 {
  left: 400px;
}

.item-21 {
  left: 420px;
}

.item-22 {
  left: 440px;
}

.item-23 {
  left: 460px;
}

.item-24 {
  left: 480px;
}

.item-25 {
  left: 500px;
}

.item-26 {
  left: 520px;
}

.item-27 {
  left: 540px;
}

.item-28 {
  left: 560px;
}

.item-29 {
  left: 580px;
}

.item-30 {
  left: 600px;
}

.item-31 {
  left: 620px;
}

.item-32 {
  left: 640px;
}

.item-33 {
  left: 660px;
}

.item-34 {
  left: 680px;
}

.item-35 {
  left: 700px;
}

.item-36 {
  left: 720px;
}

.item-37 {
  left: 740px;
}

.item-38 {
  left: 760px;
}

.item-39 {
  left: 780px;
}

.item-40 {
  left: 800px;
}

.item-41 {
  left: 820px;
}

.item-42 {
  left: 840px;
}

.item-43 {
  left: 860px;
}

.item-44 {
  left: 880px;
}

.item-45 {
  left: 900px;
}

.item-46 {
  left: 920px;
}

.item-47 {
  left: 940px;
}

.item-48 {
  left: 960px;
}

.item-49 {
  left: 980px;
}

.item-50 {
  left: 1000px;
}

.item-51 {
  left: 1020px;
}

.item-52 {
  left: 1040px;
}

.item-53 {
  left: 1060px;
}

.item-54 {
  left: 1080px;
}

.item-55 {
  left: 1100px;
}

.item-56 {
  left: 1120px;
}

.item-57 {
  left: 1140px;
}

.item-58 {
  left: 1160px;
}

.item-59 {
  left: 1180px;
}

.item-60 {
  left: 1200px;
}

.item-61 {
  left: 1220px;
}

.item-62 {
  left: 1240px;
}

.item-63 {
  left: 1260px;
}

.item-64 {
  left: 1280px;
}

.item-65 {
  left: 1300px;
}

.item-66 {
  left: 1320px;
}

.item-67 {
  left: 1340px;
}

.item-68 {
  left: 1360px;
}

.item-69 {
  left: 1380px;
}

.item-70 {
  left: 1400px;
}

.item-71 {
  left: 1420px;
}

.item-72 {
  left: 1440px;
}

.item-73 {
  left: 1460px;
}

.item-74 {
  left: 1480px;
}

.item-75 {
  left: 1500px;
}

.item-76 {
  left: 1520px;
}

.item-77 {
  left: 1540px;
}

.item-78 {
  left: 1560px;
}

.item-79 {
  left: 1580px;
}

.item-80 {
  left: 1600px;
}

.item-81 {
  left: 1620px;
}

.item-82 {
  left: 1640px;
}

.item-83 {
  left: 1660px;
}

.item-84 {
  left: 1680px;
}

.item-85 {
  left: 1700px;
}

.item-86 {
  left: 1720px;
}

.item-87 {
  left: 1740px;
}

.item-88 {
  left: 1760px;
}

.item-89 {
  left: 1780px;
}

.item-90 {
  left: 1800px;
}

.item-91 {
  left: 1820px;
}

.item-92 {
  left: 1840px;
}

.item-93 {
  left: 1860px;
}

.item-94 {
  left: 1880px;
}

.item-95 {
  left: 1900px;
}

.item-96 {
  left: 1920px;
}

.item-97 {
  left: 1940px;
}

.item-98 {
  left: 1960px;
}

.item-99 {
  left: 1980px;
}

.item-100 {
  left: 2000px;
}