#home-page {
  background-color: $white-dark;

  .container {
    width: $container-width;
    margin: auto;
  }

  .explore {
    padding: 180px 30px;

    &__heading {
      @include text-formatter(64px, 700);
      color: $green-dark;
      text-align: center;
    }

    &__content {
      width: 100%;
      display: grid;
      grid-template-columns: 350px auto;
      margin-top: 100px;
      &__filter {
        position: relative;

        &__category-list {
          width: 100%;
          overflow-y: auto;
          margin-top: 66px;
          height: 750px;
          display: flex;
          flex-direction: column;
          row-gap: 110px;

          &::-webkit-scrollbar-thumb {
            background-color: $green-dark;
          }
          &::-webkit-scrollbar {
            width: 10px;
          }
          &::-webkit-scrollbar-track::before {
            content: "test";
          }
          &::-webkit-scrollbar-track {
            background-color: $green-light;
          }

          &__item {
            text-decoration: none;
            color: $green-dark;
            @include text-formatter(24px, 400);
            transition: 0.3s;
            &:hover {
              color: $gray-extra-dark;
            }
          }
        }

        &__btn--up {
        }
      }
    }
  }
}

.test {
  height: 750px;
  position: relative;

  div:last-child {
    background-color: $white-dark;
    padding: 30px;
    position: absolute;
    right: -44px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    button {
      padding: 15px 17px;
      border-radius: 50%;
      border: none;
      bottom: 40px;

      &:first-child {
        background-color: $blue-light;
      }

      &:last-child {
        background-color: $pink-light;
      }
    }
  }
}
